language: php

php:
  - 5.4

before_script:
  - wget http://getcomposer.org/composer.phar
  - php composer.phar install --dev

script:
  - vendor/bin/atoum -d src/M6Web/Component/Tests -d src/M6Web/Bundle/StatsdBundle/Tests
